.accordion {
    width: 80%;
    margin: 32px auto;
    background-color: inherit;
}

.accordion-item {
    background-color: #191a25;
    color: white;
    border-color: var(--statusFail);
    border-width: 2px;
}

.accordion-button {
    color: white;
    background-color: #191a25;
}

.accordion-button:not(.collapsed) {
    background-color: #191a25;
    color: var(--statusFail)
}

.icon-type {
    height: 25px;
}

.accordion-header-p {
    margin-left: 15px;
    font-size: 22px;
}

.accordion-header-flex {
    display: flex;
    flex-direction: row;
}

.accordion-body {
    height: 100%;
}

.icon-type {
    margin-left: 1px;
    margin-right: 0;
}

.mod-img {
    margin-left: 50px;
}

.accordion-declined-mod {
    display: flex;
}

.checkmark {
    margin-right: 10px;
}

.x {
    margin-right: 10px;
}

.declined-img {
    height: 300px;
    border: 2px solid var(--statusFail);
    transition: all ease .3s;
    cursor: pointer;
}

.declined-img:hover {
    transform: scale(1.02);
}


.declined-status {
    display: flex;
    flex-direction: column;
    /* background-color: #1D1E2C; */
    /* border-radius: 30px;
    border: 2px solid black; */
    padding: 20px;
    margin-left: 50px;
    height: 300px;
    min-width: 250px;
}