.mod-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.mod-img {
    width: 23rem;
    height: 15rem;
    margin: 0 auto;
    border: 3px solid var(--bs-dark-border-subtle);
    border-radius: 10px;
}

tr > td:nth-child(odd) {
  font-weight: bold;  
};

.mod-download-btn {
    margin: 0 auto;
}
