* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--bs-white);
}

.main-container {
  width: 100%;
  min-height: 100%;
  align-items: center;
  text-align: center;
}

.main-header {
  padding: 2rem 0 2rem 0;
}

.main-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-image-container {
  margin-bottom: 2rem;
}

.footer-copyright {
  color: var(--bs-gray);
  padding-bottom: 2rem;
}
