.split-screen {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 56px);
}

.left-screen {
  width: 60%;
  height: 100%;
  overflow-y: auto;
}

.right-screen {
  width: 40%;
  height: 100%;
  overflow-y: auto;
}

.mod-author {
  color: var(--bs-warning);
}

.card {
  min-height: 500px;
}

.card-img {
  height: 300px;
  max-height: 400px;
  min-width: 150px;
}

.declined-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.declined-mods:hover {
  border: 1px solid red;
}

.declined-header {
  color: var(--bs-danger);
}

.declined-mods {
  background-color: #1f2326;
  padding: 1rem;
  overflow-y: auto;
  border-radius: 6px;
  transition: all ease 0.3s;
  margin-top: 24px;
}

.declined-img {
  height: 100px;
  width: 125px;
  align-self: flex-start;
  order: -1;
}

.declined-reasons {
  align-self: center;
}

.declined-reason {
  color: #9c2531;
}
