// background colors
$mm_dark: #212121;
$mm_grey: #343434;
$mm_grey2: #9c9c9c; // use 10% transparency
// text & element colors
$mm_cyan: #2fa1db;
$mm_cyan_dark: #2978a0;
$mm_orange: #e46000;
$mm_white: #ffffff;
$mm_disabled: #d9d9d9;
$mm_purple: #5d29a0;
$mm_green: #29a035;

body {
  background-color: $mm_dark;
}
