.img__banner {
  max-height: 300px;
  width: 50%;

  border: 2px solid grey;
  border-radius: 10px;
}

.page {
  margin: 0;
  height: 100%;
}

.category {
  max-width: 150px;
  max-height: 150px;
  transition: 0.3s all ease;
  cursor: crosshair;
}

.category:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 5px 15px #302186);
}
